<h3>Dashboard</h3>

<p>
  You are loggedin.<br>
  Your username is <%= user.username %>.
</p>
<p>ログインしたのでダッシュボードを表示するよ</p>
<ul>
  <li><a href="/logout">Logout</a></li>
</ul>

<script>
  console.log(<%- data %>);
</script>