<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <% if(title){ %>
    <title><%= title %> | Violet for Tumblr</title>
  <% }else{ %>
    <title>Violet for Tumblr</title>
  <% } %>
  <meta name="description" content="Violet for TumblrはReblogとLikeに特化したTumblrクライアントです。">
  <meta name="keywords" content="Violet for Tumblr,Violet,Tumblr,タンブラー,クライアント">

  <!-- OGP -->
  <meta property="og:locale" content="ja_JP">
  <meta property="og:description" content="Violet for TumblrはReblogとLikeに特化したTumblrクライアントです。">
  <meta property="og:site_name" content="Violet for Tumblr">
  <meta property="og:title" content="Violet for Tumblr">
  <meta property="og:image" content="https://violet-for-tumblr.herokuapp.com/images/ogp.jpg">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://violet-for-tumblr.herokuapp.com">
  <meta meta="" name="twitter:card" value="summary">

  <!-- viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->

  <!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-192x192.png" sizes="192x192">

  <!-- script -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46325777-7', 'auto');
    // ga('send', 'pageview');
  </script>
</head>
<body>
  <%- body %>

  <!--SCRIPTS-->
  <script src="/browserify/debug.0.0.4.js"></script>
  <!--SCRIPTS END-->
</body>
</html>