<!DOCTYPE html>
<html>
<head>
  <% if(title){ %>
    <title><%= title %> | Violet for Tumblr</title>
  <% }else{ %>
    <title>Violet for Tumblr</title>
  <% } %>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>
<body>
  <%- body %>

  <!--SCRIPTS-->
  <script src="/browserify/debug.0.0.0.js"></script>
  <!--SCRIPTS END-->
</body>
</html>