.controller
  position fixed
  left 50%
  bottom 0
  width 100%
  max-width $width_max
  height $height_controller
  transform translateX(-50%)
  overflow hidden
  clearfix()

  &__prev,
  &__likeReblog,
  &__next
    float left
    width 33.334%
    height 100%
    text-align center

  &__prev,
  &__next
    background-color rgba($bgColor_controller, 0.95)
    span
      width 25px
      height 28px
      display inline-block
      hide-text()
      margin-top 21px

    &:active
      animation: controllerFlash_prevNext 0.5s;

  &__prev
    span
      background url('../images/controller_prev.svg') no-repeat

  &__next
    span
      background url('../images/controller_next.svg') no-repeat

  &__likeReblog
    background-color rgba($bgColor_likeReblog, 0.95)

    &Icon
      width 50px
      height 50px
      display inline-block
      hide-text()
      background url('../images/controller_likeReblog.svg') no-repeat
      margin-top 10px

      &--liked
        background url('../images/controller_likeReblog_done.svg') no-repeat

    &:active
      animation: controllerFlash_likeReblog 0.5s;


// keyframe animation
@keyframes controllerFlash_prevNext
  0%
    background-color rgba(lighten($bgColor_controller, 10%), 0.95)
  100%
    background-color rgba($bgColor_controller, 0.95)

@keyframes controllerFlash_likeReblog
  0%
    background-color rgba(lighten($bgColor_likeReblog, 13%), 0.95)
  100%
    background-color rgba($bgColor_likeReblog, 0.95)