.controller
  position fixed
  left 0
  bottom 0
  width 100%
  height $height_controller
  overflow hidden
  clearfix()

  &__prev,
  &__likeReblog,
  &__next
    float left
    width 33.334%
    height 100%
    background-color rgba($bgColor_controller, 0.95)
    text-align center