.counter
  position fixed
  z-index 1
  top 14px
  left 50%
  transform translateX(-50%)
  font-size $fontSize_counter

  &__total
    &:before
      content '/'
      margin 0 0.15em 0 0

    opacity 0.6
