.entry
  &__image
    line-height 0

    img
      width 100%
      height auto

  &__text
    padding 20px $padding_page
    border-bottom 1px solid $borderColor_default

    *
      color $textColor_default !important

  &__info
    padding 15px $padding_page
    border-bottom 1px solid $borderColor_default

  &__caption
    padding 20px $padding_page
    border-bottom 1px solid $borderColor_default