.footer
  padding 30px $padding_page
  border-top 1px solid $borderColor_default
  color $textColor_sub

  &__link
    margin 0
    padding 0
    text-align center

    &Item
      display inline-block
      vertical-align top
      margin 0 10px

  &__copyright
    margin 20px 0 0
    text-align center