.header
  position fixed
  top 0
  left 50%
  width 100%
  max-width $width_max
  height $height_header
  transform translateX(-50%)
  background-color rgba($bgColor_header, 0.95)
  clearfix()
  z-index 1


  // logo
  &__logo
    float left
    margin 0
    width 65px
    height $height_header
    background-color rgba($bgColor_logo, 0.8)
    text-align center

    a
      display inline-block
      line-height 0
      margin-top 8px


  // toggle
  &__toggle
    float right
    position relative
    padding 12px 15px
    cursor pointer

    &Icon
      position relative
      display inline-block
      vertical-align middle
      width 12px
      height 12px

      &:before,
      &:after
        content ''
        position absolute
        width 12px
        height 1px
        background-color $textColor_default

      &:before
        left 0
        top 50%
        transform translateY(-3px)

      &:after
        left 0
        top 50%
        transform translateY(3px)

    &Text
      display inline-block
      vertical-align text-top
      color $textColor_default
      font-size $fontSize_default
      margin-left 3px


  // navi
  &__navi
    opacity 0
    visibility hidden
    position absolute
    z-index 2
    top $height_header
    left 0
    width 100%
    background-color rgba($bgColor_header, 0.95)

    &List
      margin 0
      padding 0
      list-style-type none

      &Item
        border-top 1px solid $borderColor_default

        a
          display block
          width 100%
          height 100%
          color $textColor_default
          padding 15px $padding_page