.toast
  position fixed
  top $height_header
  left 0
  width 100%
  background-color rgba($bgColor_toast, 0.6)
  text-align center
  font-size $fontSize_toast
  padding 5px 15px
  // pointer-events none
  opacity 0