// font family
$fontFamily = "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif


// color
$color_white = #fff
$color_black = #333
$color_black2 = #000
$color_navy1 = #21272F
$color_navy2 = #27313E
$color_navy3 = #36465D
$color_navy4 = #1d232a
$color_gray1 = #C9C9C9
$color_gray2 = #373D44
$color_pink = #FF6F90
$color_blue = #529ECC


// bg color
$bgColor_default = $color_navy1
$bgColor_header = $color_navy2
$bgColor_logo = $color_navy3
$bgColor_controller = $color_navy2
$bgColor_likeReblog = $color_navy3
$bgColor_button = $color_blue
$bgColor_body = $color_navy4
$bgColor_toast = $color_black2


// text color
$textColor_default = $color_white
$textColor_sub = rgba($color_white, 0.65)
$textColor_link = $color_white


// border color
$borderColor_default = rgba($color_white, 0.04)


// font size
$fontSize_default = rem(12px)
$fontSize_entryBody = rem(14px)
$fontSize_toast = rem(11px)


// line height
$lineHeight_default = 1.7


// letter spacing
$letterSpacing = 0.03em


// width & margin
$padding_page = 4%
$width_max = 540px
$height_header = 46px
$height_controller = 70px


// radius
$radius_default = 3px
$radius_image = 5px


// media query
$mq_pcLarge = only screen, min-width 1180px
$mq_pc = only screen, max-width 1180px
$mq_tablet = only screen, max-width 960px
$mq_smartphone = only screen, max-width 640px