// For example:
//
// @import 'variables/colors.styl';
// @import 'mixins/foo.styl';
// @import 'mixins/bar.styl';
// @import 'mixins/baz.styl';
//
// @import 'styleguide.styl';
// @import 'pages/login.styl';
// @import 'pages/signup.styl';
//
// etc.

body
  background-color #eee