.about
  color $textColor_sub
  font-size $fontSize_content

  &__section
    padding 30px $padding_page
    border-top 1px solid $borderColor_default

    &:first-child
      margin-top 0
      border none

    > *:first-child
      margin-top 0

    > *:last-child
      margin-bottom 0

    h1, h2, h3, h4, h5, h6
      font-weight normal
      color $textColor_default

    h1
      font-size 1.5em
    h2
      font-size 1.4em
    h3
      font-size 1.3em
    h4
      font-size 1.2em
    h5
      font-size 1.1em
    h6
      font-size 1em

    ul, ol
      padding-left 1.5em