.dashboard
  width 100%
  overflow-x hidden

  &__list
    margin 0
    padding 0
    list-style-type none
    clearfix()

    &Item
      float left
      padding-top $height_header
      padding-bottom $height_controller
      height 550px
      overflow-y scroll
      overflow-x hidden
      -webkit-overflow-scrolling touch
      visibility hidden

      &--show
        visibility visible