.index
  color $textColor_sub
  font-size $fontSize_content

  // common
  &__section
    &Title
      color $textColor_default
      margin-top 0
      margin-bottom 20px
      text-align center
      font-weight normal
      font-size rem(22px)

    &Text
      &--alignCenter
        text-align center

  // eyecatch
  &__eyecatch
    padding 60px+$height_header $padding_page 60px
    position relative
    z-index 0
    text-align center

    &:before
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background-image: linear-gradient(60deg, #21272f 0%, #21272f 35%, #36465d 100%)
      z-index -1

    &Logo
      display inline-block
      line-height 0

    &Title
      font-size rem(27px)
      font-weight normal
      margin 10px 0 0
      color $textColor_default

    &Text
      font-size rem(15px)
      margin 8px 0 0

    &Button
      margin-top 25px

  // feature, start
  &__feature,
  &__start
    padding 45px $padding_page 60px
    background-color $bgColor_index
    border-top 1px solid rgba($color_white, 0.05)
    border-bottom 1px solid rgba($color_white, 0.05)

  // feature
  &__feature
    > *:last-child
      margin-bottom 0

    &Image
      max-width 300px
      overflow hidden
      border-radius $radius_image
      line-height 0
      border 1px solid rgba($color_white, 0.1)
      margin 25px auto

      img
        width 100%
        height auto

  // pc
  &__pc
    padding 45px $padding_page 60px

    // usage
    &Usage
      margin 30px auto 0
      overflow hidden
      border-radius $radius_image
      border 1px solid rgba($color_white, 0.1)
      background-color $bgColor_index
      max-width 300px

      &Title
        font-size $fontSize_content
        text-align center
        padding 12px 0
        margin 0

      &List
        list-style-type none
        margin 0
        padding 0

        &Item
          clearfix()
          padding 7px 0
          color $textColor_default

          &:nth-child(odd)
            background-color rgba($color_white, 0.1)

          &Key
            float left
            width 100px
            position relative
            left 20%

          &Action
            float right
            width 100px
            position relative
            right 10%

  // start
  &__start
    &Button
      margin 30px 0 0
      text-align center