doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #app!= html
    script#initial-data(type='text/plain' data-json='#{initialData}')
    script(src='/javascripts/main.js')